.trackCardHeader{
    display:flex;
    justify-content:space-between;
    border:1px solid black;
    padding: 10px;
    height: 50px;
}
.trackCardBtnHolder{
    display: flex;
    justify-content: space-between;
    width: 150px;
}
.trackBtn{
    background-color: #219653;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.cancelTrackBtn:hover{
    background-color: gray;
}
.dashboardContentHolder{
    display: flex;
}
.dashboardSummaryHolder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.summaryCard{
    height: 100px;
    width: 250px;
    padding: 20px;
    border: 1px solid #219653;
    border-radius: 5px;
}
.summaryPrice{
    font-size: 40px;
}