.searchBarContainer{
    height: 60px;
    background-color: #219890;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.webTitle{
    margin: 30px;
    font-size: 80px;
}
.inputHolder{
    width: 400px;
    height: 40px;
    margin: 0 20px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}
.searchInput{
    width: 80%;
    padding:10px;
    border: none;
}

.searchButton{
    width:20%;
    background-color: white;
    border: none;
}

@keyframes headerIn{
    0%{transform:translate(0, 300px)}
    100%{transform:translate(0,0)}
}

@keyframes inputToLeft{
    0%{transform:translate(200px,0)}
    100%{transform:translate(0,0)}
}


