.cardHolder{
    width:300px;
    height:500px;
    border: 2px solid #219653;
    border-radius: 10px;
    overflow: hidden;
}
.productImgHolder{
    height: 150px;
    margin: 25px;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
}
.productImg{
    background-color: gray;
    width: 100%;
    height: 100%;
    border: none;
}
.productNameHolder{
    margin: 0 25px;
    height: 60px;
}
.productInfoHolder{
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.productInfoList{
    list-style-type: none;
    margin: 0;
}
.productName{
    font-size:12px;
}
.productInfoList li{
    height: 40px;
    border-top: 1px solid black;
    padding: 0 5px;
    text-align: center;
    line-height: 40px;
    font-size:15px;
}
.productTrackHolder{
    background-color: yellowgreen;
}
.productTrackBtn{
    border: none;
    background-color: transparent;
    color: black;
}
.productTrackHolder:hover{
    background-color: red;
}
.productPrice{
    font-weight: bold;
}
.platformLogo{
    background-size: cover;
}
.productLink{
    background-color: #219653;
}
.productLink a{
    text-decoration: none;
    color: white;
}
.productLink:hover{
    transform: scale(1.1);
}